<div *ngFor="let product of products" class="product">
    <img [src]="product.image" alt="{{ product.title }}" />
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | currency }}</p>
    <button>Add to Cart</button>
</div>
  